<h1>Your exercise program</h1>

<table class="table table-striped">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td><%= image_tag exercise.image.url(:medium) %></td>
    <td><%= exercise.name %></td>
    <td><%= exercise.description %></td>
  </tr>
<% end %>
</table>

<h3>Notes</h3>
<div class="notes" contenteditable="true">
</div>

<div class="actions">
</div>