<h1>Your exercise program</h1>

<table class="table table-striped">
  <tr>
    <th>Picture</th>
    <th>Description</th>
  </tr>

<% @exercises.each do |exercise| %>
  <tr>
    <td class="program-image"><%= image_tag exercise.image.url(:medium) %></td>
    <td class="program-description" contenteditable="true">
      <h4><%= exercise.name %></h4>
      <%= exercise.description %>
    </td>
  </tr>
<% end %>
</table>

<h3>Notes</h3>
<div class="notes" contenteditable="true">
</div>

<div class="actions">
</div>