<h1 dir="ltr">The lactating breast</h1>
<br />
On Tuesday night I attended a lecture The Lactating Breast by one of Melbourne’s head women’s health physiotherapists Melinda Cooper.<br />
<br />
Melinda has a special interest in the reproductive system and in particular the lactation system. <br />
<br />
My key takeaways from the presentation were:<br />
<br />
<strong>Lactation:</strong><br />
<ul>
<li>Lactation is the most important part of the post partum period and that encourage breast feeding and lactation have higher priority than managing musculoskeltal pains and other health complaints.</li>
<li>A well functioning lactation systems prevents the mother against cardiovascular, mental health, bone density and other health complaints. </li>
<li>Once lactation has been established it will continue indefinitely until the supply for milk has caesed. </li>
<li>Physical exercise does not pose any risk to lactation and visa versa.</li>
<li>30% of metabolic energy goes towards the lactating breast. </li>
<li>Inflammatory reaction in the lactation system is often very big because of the importance of the system to human survival. </li>
<li>Lactating breast = the exterogestate placenta which helps to develop the neurologically immature baby.</li>
<li>Up to 30% of women will experience mastitis in the first 12 weeks post partum. </li>
</ul>

<br />
<strong>The breast:</strong><br />
<ul>
<li>Venous drainage is medically and superomedially towards the clavicle. The lymphatic drainage is towards the axillary nodes.</li>
<li>Ducts of the breast are not linear or lined up neatly. It's more like the roots of the tree. You can refer to quadrants for naming purposes however this does not represent what we see in vivo. 9 ducts and 9 lobes open onto the nipple. </li>
<li>Ductal tissue is very different in the lactating and non lactating breast. Lactating ducts dilate between 50-150% . Milk ejection reflex is very dynamic - therefore obstruction occurs when there is an obstruction to the changes in duct sign. The tissue is very vulnerable to abscess and bleeds with vigorous handling. The ducts need to be able to relax, expand and move. </li>
</ul>

<br />
<strong>Mastitis:</strong><br />
<ul>
<li>There are many names used to label mastitis but essentially mastitis is an inflammation of the breast with or without infection.</li>
<li>Signs of inflammation = pain, redness, fever and loss of function</li>
<ul>
<li>fever is an inflammatory sign and can be present or absent with infection</li>
<li>clinically it is hard to distinguish between infective and inflammatory mastitis - however just because there is a fever doesn’t mean that antibiotics are indicated</li>
</ul>

<li>Most symptoms should resolve within 3 days but the rate of reoccurance is very high. Wether you treat them or not most people are better in 3days. </li>
<li>Primary risk factor for mastitis is a previous episode. </li>
<li>Symptomatolgy is not a reliable predictor of outcome and you can't tell severity and prognosis from the presentation alone. So treat each case as serious and urgent. </li>
<li>There is a five point rating of symptom of severity which is recorded by the clients - bothersome, erythema, size, tension and local temperature. Currently under trial to establish construct validity. It is an outcome measure of change in symptoms not effectiveness of treatment. </li>
</ul>

<br />
<strong>Management:</strong><br />
<ul>
<li>Establish consent</li>
<li>Treatment categories - advice, pharmacology, cryotherapy, manual therapy, electrotherapy agents ( vibrator, therapeutic ultrasound, TENS, low level laser therapy, pulsed electromagnetic energy).</li>
<li>Number one treatment supported in the literature is horizontal bed rest. </li>
<li>Breast feeding is the not the reason for fatigue. It is the increase in proinflammatory hormones that are needed to protect the body. </li>
<li>Reclined position is the easiest for neonate attachment and is the best for reducing risk of breast feeding induced neck and thoracic pain. Encourage lying down. Sitting is habitual not biological.</li>
</ul>

<br />
There is no consensus in the literature regarding the efficacy and dosage of ultrasound. Choice of dosage is based on gender, specialty and experience...... There is no set evidence but we know that it works. Melinda suggests continuous output, 1 MHz, highest intesity tolerated...... ensure adequate sensory temperature detection.<br />
<br />
No evidence for ultrasound and no evidence for the use of antibiotics either, no RCTs. <br />
<br />
Primary goal is to provide the best anti inflammatory treatment available. Breast expression is better as a manual therapy, be very gentle with massage and has to enhance venous return and be comfortable.<br />
<br />