<h1>Physiotherapist</h1>

<%= image_tag('snow.jpg', :class => "hero-img") %>

<p>I'm a Musculoskeletal Physiotherapist who works at <a href="http://physica.com.au/locations/physica-ringwood/">Physica Spinal and Physiotherapy Clinic in Ringwood</a>.</p>

<p>My interests include the management of <strong>neck and back pain, sporting injuries and women's health</strong>. As well as individual consultations, I enjoy teaching clinical pilates and functional rehabilitation programs. My goal as a therapist is to <strong>understand</strong> each individuals problem, and <strong>teach</strong> them the knowledge required to <strong>empower</strong> them to rehabilitate themselves. This is often done in a supervised class format until people feel confident to complete their own programs independently.</p>

<p>I enjoy working with a very wide range of conditions and levels of function, including early post operative rehabilitation or acute injury management, thru to increasing athletic performance.</p>

<p>For my latest thoughts and learnings, please have a read of <a href="http://www.raynersmale.com/">my blog</a>.</p>
