// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin-top: 30px;
}

.program-image {
  width: 300px;
}

.program-description {
  font-size: 18px;
  line-height: 25px;

  h4 {
    margin-top: 0;
  }

}